<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Nation of Positivity</title>

    <link rel="icon" type="image/png" href="./img/favicon-48x48.png" sizes="48x48" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon.svg" />
    <link rel="shortcut icon" href="./img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png" />
    <link rel="manifest" href="./img/site.webmanifest" />

    <meta name="title"       property="og:type"        content="website"/>
    <meta name="author"      property="og:author"      content="Christophe VG"/>
    <meta name="title"       property="og:title"       content="Nation of Positivity"/>
    <meta name="image"       property="og:image"       content="//nationofpositivity.com/img/logo.png"/>
    <meta name="description" property="og:description" content="Bergen aan positiviteit voor jou om te geven en te delen."/>
    <meta name="url"         property="og:url"         content="//nationofpositivity.com"/>

    <meta name="apple-mobile-web-app-title"            content="Nation of Positivity" />

    <link rel="stylesheet" href="./fonts/bootstrap-icons.min.css">
    <link href="./css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <video class="bg-video" playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop"><source src="/mp4/bg.mp4" type="video/mp4" /></video>

    <div class="masthead">
      <div class="masthead-content text-black">
        <div class="container-fluid px-4 px-lg-0">
          <img src="./img/logo.svg" width="100%"/>
          <br clear="both"/>
          <p class="mb-2">Bergen aan positiviteit in voorbereiding...</p>
          <p class="mb-2">Volg onze socials voor aankondigingen!</p>
          <p class="mb-2">Tot snel!</p>
        </div>
      </div>
    </div>

    <!--
      Tons of positive credits for the video to Cottonbro Studio and font to Natalia Kasatkina!
    -->

    <div class="social-icons">
      <div class="d-flex flex-row flex-lg-column justify-content-center align-items-center h-100 mt-3 mt-lg-0">  
        <a class="btn btn-dark m-3" href="https://x.com/NationOfPositivity" target="_blank"><i class="bi-twitter-x"></i></a>
        <a class="btn btn-dark m-3" href="https://facebook.com/NationOfPositivity" target="_blank"><i class="bi-facebook"></i></a>
        <a class="btn btn-dark m-3" href="https://x.com/NationOfPositivity" target="_blank"><i class="bi-instagram"></i></a>
      </div>
    </div>

    <script src="./js/bootstrap.bundle.min.js"></script>

  </body>
</html>
